.nav-menu{
  position: fixed;
  top:0px;
}
.nav-menu-active{
  left: 100px;
}
.navbar {
  background-color: #db2f2f;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}